-var svcs = Object.keys(services)
-var flattened = svcs.reduce((a, b) => a.concat(b), []);
-var deduped = flattened.filter((element, index, array) => array.indexOf(element) === index);

div#services
    select#service-selector
        for service in deduped
            option=service
            
    div#direction-selector
        div#dir-1
            span Direction 1
        div#dir-2
            span Direction 2

-
    function isBusStopInRoute(svc, busStopCode, dest) {
        return svc.stops.map(stop => 
            stop.busStopCode === busStopCode && svc.interchanges[1] === dest
        ).filter(Boolean).length !== 0;
    }
    
    function getStopNumber(svc, busStopCode) {
        return svc.stops.map(stop=>stop.busStopCode).indexOf(busStopCode) + 1;
    }

    let destinations = busStops;

div#timings
    for serviceNumber in deduped
        div(service=serviceNumber).serviceContainer
            for serviceDirection in services[serviceNumber].sort((a, b) => a.routeDirection - b.routeDirection)
                -
                    let {routeDirection} = serviceDirection
                    let directionBusStops = []; 
                    Object.keys(buses).forEach(busStopCode => {
                        if (!buses[busStopCode].filter(svc => svc.service === serviceNumber).length) return;
                        let {destination} = buses[busStopCode].filter(svc => svc.service === serviceNumber)[0];
                        
                        if (isBusStopInRoute(serviceDirection, busStopCode, destination)) {
                                directionBusStops.push({
                                    busStopCode, busTimings: buses[busStopCode], stopNumber: getStopNumber(serviceDirection, busStopCode)
                               });
                       }
                    });
                    directionBusStops = directionBusStops.sort((a,b)=>a.stopNumber - b.stopNumber);
                    if ((directionBusStops.length === 1 && directionBusStops[0].stopNumber === serviceDirection.stops.length) || !directionBusStops.length)
                        continue;
                
                div(direction=routeDirection).serviceDirectionContainer
                    for busStop in directionBusStops
                        -
                            let {busStopCode, busTimings} = busStop;
                            let busStopData = busStops[busStopCode];
                            
                        div.busStopContainer
                            label(for=`checkbox-${serviceNumber}-${routeDirection}-${busStopCode}`).busStopHideContainer
                                span.busStopName=busStopData.busStopName
                            input(type='checkbox' id=`checkbox-${serviceNumber}-${routeDirection}-${busStopCode}` bus-stop-code=busStopCode).busStopHideCheckbox
                            div.busStopContents
                                - let doNotPredict = true;
                                include bus-timings
