-var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

for bus in buses
    div(class=`bus`)
        label(class=`${operatorCss[bus.operator.operator]}` for=`${bus.registration.prefix}${bus.registration.number}`)
                span.numberplate=bus.registration.prefix + bus.registration.number + bus.registration.checksum
        if buses.length == 1
            input.busHide(type='checkbox' id=`${bus.registration.prefix}${bus.registration.number}` checked='hi')
        else
            
            input.busHide(type='checkbox' id=`${bus.registration.prefix}${bus.registration.number}`)
        div.bus-data
            div.data.deployment
                span Deployment
                span=bus.operator.depot.length ? (bus.operator.depot.replace(/@/, '') + ' ' + bus.operator.permService) : 'Unknown'
            if (bus.operator.crossOvers.length > 0)
                div.data.crossovers
                    span Crossvers
                    span=bus.operator.crossOvers.join(' / ')
            if !!bus.operator.status
                div.data.status
                    span Status
                    span=bus.operator.status
            div.data.make
                span Make
                span=bus.busData.make
            div.data.operator
                span Operator
                span=bus.operator.operator
            div.data.model
                span Model
                span=bus.busData.model
            div.data.livery
                span Livery
                span=bus.busData.livery
            div.data.bodywork
                span Bodywork
                span=bus.busData.bodywork
            div.data.batch
                span Batch
                span=bus.fleet.batch
            div.data.advert
                span Advertisement
                span=bus.fleet.ad || 'N/A'
            div.data.dereg
                span Lifespan Expiry Date
                if +bus.busData.deregDate === 0
                    span Unknown
                else
                    
                    -
                        let colour = '#c5c5c5';
                        if (bus.daysToDereg >= 0) {
                            if (bus.daysToDereg <= 31)
                                colour = '#c7c925';
                            if (bus.daysToDereg <= 7)
                                colour = '#f29723';
                            if (bus.daysToDereg <= 4)
                                colour = '#e93d33';
                        }
                        
                    div(style='color: ' + colour).deregInfo
                        span.deregDate=bus.busData.deregDate.getUTCDate() + ' ' + months[bus.busData.deregDate.getUTCMonth()] + ' ' + bus.busData.deregDate.getUTCFullYear()
                        span.timeToDereg=bus.timeToDereg
            div.data.chassis
                span Chassis ID
                span=bus.busData.chassis || 'Unknown'
            div.data.gearbox
                span Gearbox
                span=bus.busData.gearbox
            div.data
                span EDS
                span=bus.busData.edsModel
            div.data
                span Chair Model
                span=bus.misc.chair
            div.data
                span Door Model
                span=bus.misc.door
            div.data
                span Aircon Model
                span=bus.misc.aircon
            div.data
                span Notes
                span=bus.misc.notes
